@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
      --primary-color: #4A154B;
      --font-stack: "Roboto", Arial, sans-serif;
    }


body {
    font-family: var(--font-stack);
}

textarea {
    width: 100%;
    height: 50px;
}

pre, code {
  white-space: pre-wrap;
  font-family: monospace;
}

/* The whole container */
#messages {
    margin: 25px;
    margin-bottom: 100px;
}

/* Each message's wrapper */
div.message {
    margin: 25px;
}

.fixed-bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px; 
  z-index: 999;
}