@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
      --primary-color: #4A154B;
      --font-stack: "Lato", Arial, sans-serif;
}

body {
    font-family: var(--font-stack);
    margin: 0;
    border: 15px solid var(--primary-color);
    height: 100%;
    background-color: var(--primary-color);
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.timestamp {
  font-size: 0.85em;
  color: #666;
  margin-bottom: 8px;
  margin-left: 10px;
}

.messageBody {
  margin-left: 10px;
}

pre, code {
  white-space: pre-wrap;
  font-family: monospace;
}

.messageBody.codeBody {
  background-color: #f4f4f4;
  line-height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

h1 {
    font-family: var(--font-stack);
    text-transform: lowercase;
    background-color: var(--primary-color);
    margin: 0;
    color: white;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
}

#channelsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

#channelsContainer div {
  font-family: 'Abril Fatface';
  text-align: center;
  font-size: 3em;
  background-color: #ccc;
  color: white;
}

#channelsContainer div.selected {
  background-color: var(--primary-color);
  color: white;
}

/* whole container */
#messages {
    margin: 25px;
    padding-bottom: 120px;
    padding-top: 50px;
    min-height: 500px;
    background-color: white;
}

/* each message's wrapper */
div.message {
    margin: 25px;
}

/* footer */
.fixed-bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 50px;
  background-color: var(--primary-color);
  z-index: 999;
  color: white;
}

/* form stuff */
textarea {
    width: 90%;
    height: 75px;
    font-family: var(--font-stack);
    box-sizing: border-box;
}

textarea, input[type="text"], input[type="checkbox"], button {
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding: 8px;
}

input[type="checkbox"] {
    background-color: #f0f0f0;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    accent-color: var(--primary-color);
}

button {
    cursor: pointer;
    font-family: var(--font-stack);
}

button:hover {
  background-color: var(--primary-color);
  color: white;
}

textarea, input[type="text"], button {
  letter-spacing: 1px;
}

.noMessages {
    text-align: center;
    color: #666;
    font-style: italic;
    margin-top: 50px;
}

.usernameTimestampContainer {
    margin-bottom: 10px;
}

/* button next to each message */
.deleteButton {
    float: right;
    background-color: white;
    color: #666; 
    border: none;
    margin-left: 10px;
    font-weight: bold;
}

.deleteButton:hover {
    color: red;
    background-color: white;
}

.messageAndDeleteContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* admin buttons container */
#buttonGrid {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 150px;
}

/* push following buttons following first child to the right */
#buttonGrid > button:first-child {
  margin-right: auto;
}

#deleteButtons {
  display: flex;
  gap: 8px;
  visibility: hidden;
}